In [13]:
import pandas as pd
import numpy as np
from scipy import stats

In [14]:
#Viewing raw CSV file initially
players = pd.read_csv("players.csv")
players.head()

,index,_id,birthDate,birthPlace,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,...,draft_pick,draft_round,draft_team,draft_year,height,highSchool,name,position,shoots,weight
0,0,abdelal01,"June 24, 1968","Cairo, Egypt",0.3,50.2,0.0,70.1,256,13.0,...,25th overall,1st round,Portland Trail Blazers,1990,6-10,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb
1,1,abdulza01,"April 7, 1946","Brooklyn, New York",1.2,42.8,NaN,72.8,505,15.1,...,5th overall,1st round,Cincinnati Royals,1968,6-9,"John Jay in Brooklyn, New York",Zaid Abdul-Aziz,Power Forward and Center,Right,235lb
2,2,abdulka01,"April 16, 1947","New York, New York",3.6,55.9,5.6,72.1,1560,24.6,...,1st overall,1st round,Milwaukee Bucks,1969,7-2,"Power Memorial in New York, New York",Kareem Abdul-Jabbar,Center,Right,225lb
3,3,abdulma02,"March 9, 1969","Gulfport, Mississippi",3.5,44.2,35.4,90.5,586,15.4,...,3rd overall,1st round,Denver Nuggets,1990,6-1,"Gulfport in Gulfport, Mississippi",Mahmoud Abdul-Rauf,Point Guard,Right,162lb
4,4,abdulta01,"November 3, 1974","Maisons Alfort, France",1.1,41.7,23.7,70.3,236,11.4,...,11th overall,1st round,Sacramento Kings,1997,6-6,"Lycee Aristide Briand in Evreux, France",Tariq Abdul-Wahad,Shooting Guard,Right,223lb

In [15]:
# dropping cols not important to analysis we are conducting
players = players.drop(['birthDate', 'birthPlace', 'college', 'draft_team', 'draft_year', 'height', 'draft_pick', 'draft_round',
                                    'highSchool', 'weight', 'shoots'], axis=1)
players.rename(columns={'_id':'player_id'}, inplace=True)
players.head()

,index,player_id,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,career_PTS,career_TRB,career_WS,career_eFG%,name,position
0,0,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward
1,1,abdulza01,1.2,42.8,NaN,72.8,505,15.1,9.0,8.0,17.5,NaN,Zaid Abdul-Aziz,Power Forward and Center
2,2,abdulka01,3.6,55.9,5.6,72.1,1560,24.6,24.6,11.2,273.4,55.9,Kareem Abdul-Jabbar,Center
3,3,abdulma02,3.5,44.2,35.4,90.5,586,15.4,14.6,1.9,25.2,47.2,Mahmoud Abdul-Rauf,Point Guard
4,4,abdulta01,1.1,41.7,23.7,70.3,236,11.4,7.8,3.3,3.5,42.2,Tariq Abdul-Wahad,Shooting Guard

In [16]:
#Cleaning the position columns and dropping null values
players['position'] = players['position'].str.split(' and' )
player_positions = players.explode('position')
player_positions.dropna(inplace=True)
player_positions

,index,player_id,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,career_PTS,career_TRB,career_WS,career_eFG%,name,position
0,0,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward
2,2,abdulka01,3.6,55.9,5.6,72.1,1560,24.6,24.6,11.2,273.4,55.9,Kareem Abdul-Jabbar,Center
3,3,abdulma02,3.5,44.2,35.4,90.5,586,15.4,14.6,1.9,25.2,47.2,Mahmoud Abdul-Rauf,Point Guard
4,4,abdulta01,1.1,41.7,23.7,70.3,236,11.4,7.8,3.3,3.5,42.2,Tariq Abdul-Wahad,Shooting Guard
5,5,abdursh01,2.5,47.2,29.7,81.0,830,19.0,18.1,7.5,71.2,47.9,Shareef Abdur-Rahim,Center
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4678,4678,zimmest01,0.2,32.3,-,60.0,19,7.3,1.2,1.8,0.0,32.3,Stephen Zimmerman,Center
4679,4679,zipsepa01,0.8,37.1,33.5,76.9,98,6.1,4.7,2.6,0.0,44.8,Paul Zipser,Small Forward
4680,4680,zizican01,0.6,58.3,-,70.8,91,17.5,6.4,4.2,3.0,58.3,Ante Zizic,Center
4681,4681,zoetji01,0.1,20.0,-,-,7,-0.8,0.3,1.1,-0.1,20.0,Jim Zoet,Center
4683,4683,zubaciv01,0.8,54.0,0.0,76.1,140,17.6,6.9,4.6,5.3,54.0,Ivica Zubac,Center

In [17]:
#Viewing the raw salaries CSV file
salaries = pd.read_csv("salaries_1985to2018.csv")
salaries.head()

,index,league,player_id,salary,season,season_end,season_start,team
0,0,NBA,abdelal01,395000,1990-91,1991,1990,Portland Trail Blazers
1,1,NBA,abdelal01,494000,1991-92,1992,1991,Portland Trail Blazers
2,2,NBA,abdelal01,500000,1992-93,1993,1992,Boston Celtics
3,3,NBA,abdelal01,805000,1993-94,1994,1993,Boston Celtics
4,4,NBA,abdelal01,650000,1994-95,1995,1994,Sacramento Kings

In [18]:
# season category redundant, all leagues are also NBA (checked by value_counts()), so we can drop it too
salaries = salaries.drop(['league', 'season', 'season_end'], axis=1)
salaries

       index  player_id   salary  season_start                    team
0          0  abdelal01   395000          1990  Portland Trail Blazers
1          1  abdelal01   494000          1991  Portland Trail Blazers
2          2  abdelal01   500000          1992          Boston Celtics
3          3  abdelal01   805000          1993          Boston Celtics
4          4  abdelal01   650000          1994        Sacramento Kings
...      ...        ...      ...           ...                     ...
14158  14158  zipsepa01   750000          2016           Chicago Bulls
14159  14159  zipsepa01  1312611          2017           Chicago Bulls
14160  14160  zizican01  1645200          2017     Cleveland Cavaliers
14161  14161  zubaciv01  1034956          2016      Los Angeles Lakers
14162  14162  zubaciv01  1312611          2017      Los Angeles Lakers

[14163 rows x 5 columns]

In [19]:
historical = pd.merge(player_positions, salaries, how='right', on='player_id')
historical = historical.drop(['index_x', 'index_y'], axis=1)
historical

,player_id,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,career_PTS,career_TRB,career_WS,career_eFG%,name,position,salary,season_start,team
0,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,395000,1990,Portland Trail Blazers
1,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,494000,1991,Portland Trail Blazers
2,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,500000,1992,Boston Celtics
3,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,805000,1993,Boston Celtics
4,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,650000,1994,Sacramento Kings
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22071,zipsepa01,0.8,37.1,33.5,76.9,98,6.1,4.7,2.6,0.0,44.8,Paul Zipser,Small Forward,750000,2016,Chicago Bulls
22072,zipsepa01,0.8,37.1,33.5,76.9,98,6.1,4.7,2.6,0.0,44.8,Paul Zipser,Small Forward,1312611,2017,Chicago Bulls
22073,zizican01,0.6,58.3,-,70.8,91,17.5,6.4,4.2,3.0,58.3,Ante Zizic,Center,1645200,2017,Cleveland Cavaliers
22074,zubaciv01,0.8,54.0,0.0,76.1,140,17.6,6.9,4.6,5.3,54.0,Ivica Zubac,Center,1034956,2016,Los Angeles Lakers
22075,zubaciv01,0.8,54.0,0.0,76.1,140,17.6,6.9,4.6,5.3,54.0,Ivica Zubac,Center,1312611,2017,Los Angeles Lakers

In [20]:
historical.head()
historical['position'] = historical['position'].astype('string')
historical['position'] = historical['position'].str.replace(r'\[|\]', '', regex=True)
historical['position'] = historical['position'].str.strip("'")
historical.head()

,player_id,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,career_PTS,career_TRB,career_WS,career_eFG%,name,position,salary,season_start,team
0,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,395000,1990,Portland Trail Blazers
1,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,494000,1991,Portland Trail Blazers
2,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,500000,1992,Boston Celtics
3,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,805000,1993,Boston Celtics
4,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,650000,1994,Sacramento Kings

In [21]:
historical.dtypes

player_id               object
career_AST             float64
career_FG%              object
career_FG3%             object
career_FT%              object
career_G                 int64
career_PER              object
career_PTS             float64
career_TRB              object
career_WS               object
career_eFG%             object
name                    object
position        string[python]
salary                   int64
season_start             int64
team                    object
dtype: object

In [22]:
#Cleaning the data- adjusting dtypes to be workable
historical['salary'] = historical['salary'].astype(int)
historical['season_start'] = pd.to_datetime(historical['season_start'], format='%Y')

historical = historical[historical['career_FG%'] != '-']
historical['career_FG%'] = historical['career_FG%'].astype(float)

historical = historical[historical['career_FG3%'] != '-']
historical['career_FG3%'] = historical['career_FG3%'].astype(float)

historical = historical[historical['career_FT%'] != '-']
historical['career_FT%'] = historical['career_FT%'].astype(float)

historical = historical[historical['career_PER'] != '-']
historical['career_PER'] = historical['career_PER'].astype(float)

historical = historical[historical['career_PTS'] != '-']
historical['career_PTS'] = historical['career_PTS'].astype(float)
 
historical = historical[historical['career_WS'] != '-']
historical['career_WS'] = historical['career_WS'].astype(float)

historical = historical[historical['career_eFG%'] != '-']
historical['career_eFG%'] = historical['career_eFG%'].astype(float)

historical = historical[historical['career_TRB'] != '-']
historical['career_TRB'] = historical['career_TRB'].astype(float)

historical['player_id'] = historical['player_id'].astype('string')

historical['name'] = historical['name'].astype('string')

historical['team'] = historical['team'].astype('string')

historical

/var/folders/z1/542vmcmd77n93176sv6nxkrw0000gn/T/ipykernel_56202/2454403432.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  historical['career_FG%'] = historical['career_FG%'].astype(float)

,player_id,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,career_PTS,career_TRB,career_WS,career_eFG%,name,position,salary,season_start,team
0,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,395000,1990-01-01,Portland Trail Blazers
1,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,494000,1991-01-01,Portland Trail Blazers
2,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,500000,1992-01-01,Boston Celtics
3,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,805000,1993-01-01,Boston Celtics
4,abdelal01,0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,4.8,50.2,Alaa Abdelnaby,Power Forward,650000,1994-01-01,Sacramento Kings
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22069,zidekge01,0.2,40.8,25.0,78.3,135,8.7,3.4,2.1,0.8,40.9,George Zidek,Center,784200,1997-01-01,Denver Nuggets
22071,zipsepa01,0.8,37.1,33.5,76.9,98,6.1,4.7,2.6,0.0,44.8,Paul Zipser,Small Forward,750000,2016-01-01,Chicago Bulls
22072,zipsepa01,0.8,37.1,33.5,76.9,98,6.1,4.7,2.6,0.0,44.8,Paul Zipser,Small Forward,1312611,2017-01-01,Chicago Bulls
22074,zubaciv01,0.8,54.0,0.0,76.1,140,17.6,6.9,4.6,5.3,54.0,Ivica Zubac,Center,1034956,2016-01-01,Los Angeles Lakers
22075,zubaciv01,0.8,54.0,0.0,76.1,140,17.6,6.9,4.6,5.3,54.0,Ivica Zubac,Center,1312611,2017-01-01,Los Angeles Lakers

In [24]:
historical.groupby('season_start')['salary'].max()
def normalize_by_year(x):
    # x is a DataFrame of group values
    x['salary'] /= x['salary'].max()
    return x
historical = historical.groupby('season_start', group_keys=False).apply(normalize_by_year)

/var/folders/z1/542vmcmd77n93176sv6nxkrw0000gn/T/ipykernel_56202/516796340.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  historical = historical.groupby('season_start', group_keys=False).apply(normalize_by_year)

1.0